<nav role="navigation">
    <ul class="breadcrumbs">
        <li><a href="/categories" rel="prev">Kategorier</a></li>
        <li class="current" aria-label="Du är här">{{ category.Name }}</li>
    </ul>
</nav>

<section class="container">

    <div>
        <h2>{{ category.Name }}</h2>

        <p data-ng-hide="!category.Description" class="description">{{ category.Description }}</p>
    </div>

    <!--Navbar for map, simple or detailed list -->
    <nav role="navigation" class="row">
        <div class="menu-bar">
            <ul class="category-nav">
                <li role="menuitem"><a href="#" class="{{ detailedClass }}" data-ng-click="showDetailed()">Visa detaljerad lista</a></li>
                <li role="menuitem"><a href="#" class="{{ mapClass }}" data-ng-click="showMap()">Visa på karta</a></li>
                <li role="menuitem"><a href="#" class="{{ simpleClass }}" data-ng-click="showSimple()">Visa enkel lista</a></li>
            </ul>
        </div>
    </nav>

    <!-- Searchbar -->
    <div class="right">
        <div id="search" class="row" role="search">
            <div class="small-4 columns end">
                <input role="search" id="search-box" placeholder="Sök" type="text" data-ng-model="filter.name" />
            </div>
        </div>
    </div>

    <!-- navbar for sorting -->
    <div data-ng-if="detailed || simple" class="row">
        <dl class="sub-nav">
            <dt>Sortera:</dt>
            <dd class="{{ activeName }}"><a href="" data-ng-click="sortOuByName()">Namn</a><img alt="Sortering" class="{{ visibleName }}" data-ng-src="/Content/pictures/{{ sortOrder }}.png" data-ng-click="sortOuByName()" /></dd>
            <dd class="{{ activeAddress }}"><a href="" data-ng-click="sortOuByAddress()">Adress</a><img atl="Sortering" class="{{ visibleAddress }}" data-ng-src="/Content/pictures/{{ sortOrder }}.png" data-ng-click="sortOuByAddress()" /></dd>
            <dd data-ng-if="posLat != undefined && posLng != undefined" class="{{ activeDistance }}"><a href="" data-ng-click="sortOuByDistance()">Distans</a></dd>
        </dl>
    </div>

    <!-- Show simple table -->
    <div data-ng-show="simple">
        <div ng-show="!category.OrganisationalUnits.length"><p>Det finns tyvärr inga aktörer tillgängliga i den här kategorin.</p></div>
        <div ng-show="category.OrganisationalUnits.length">

            <!-- addressbar -->
            <div class="addressSearch">
                <div class="large-12 columns">
                    <div class="large-8 columns">
                        <form ng-submit="submit()">
                            Skriv in adress för att kolla avstånd till aktör:
                            <input type="text" ng-model="address" placeholder="Skriv in adress" name="text" required />
                            <input type="submit" class="button tiny" id="submit" value="Kolla distans" />
                        </form>
                    </div>
                </div>
                <div data-ng-show="lastAddress.length"><strong>Senast sökt address:</strong> {{lastAddress}}</div>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th width="10"></th>
                        <th width="150">Namn</th>
                        <th width="100">Kontaktuppgifter</th>
                        <th width="100"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="ou in category.OrganisationalUnits | filter:filter.name | orderBy:sortBy">
                        <td>{{ setCompareSettingsForOu(ou)}}</td>

                        <td><h5><a href="#" data-ng-click="showOperator(ou.OrganisationalUnitId)">{{ ou.Name }}</a></h5></td>
                        <td>
                            <p>
                                {{ ou.Address }}<br />
                                Telefon: {{ ou.Telephone }}<br/>
                                <div data-ng-if="getDistanceBetweenPositions(ou) >= 0.0"><strong>Distans:</strong> {{ getDistanceBetweenPositions(ou) }} km</div>
                            </p>
                        </td>
                        <td>
                            <div class="{{ ou.class }}"><a href="" data-ng-click="toggleOperators(ou)"><i class="{{ ou.icon }}"></i>{{ ou.text}}</a></div>
                            <div class="mapClass"><a href="" data-ng-click="showOperatorMap(ou.OrganisationalUnitId)">Karta</a></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Show detailed table -->
    <div data-ng-show="detailed">

        <!-- addressbar -->
        <div class="addressSearch">
            <div class="large-12 columns">
                <div class="large-8 columns">
                    <form ng-submit="submit()">
                        Skriv in adress för att kolla avstånd till aktör:
                        <input type="text" ng-model="address" placeholder="Skriv in adress" name="text" required />
                        <input type="submit" class="button tiny" id="submit" value="Kolla distans" />
                    </form>
                </div>
            </div>
            <div data-ng-show="lastAddress.length"><strong>Senast sökt address:</strong> {{lastAddress}}</div>
        </div>

        <div data-ng-show="!category.OrganisationalUnits.length"><p>Det finns tyvärr inga aktörer tillgängliga i den här kategorin.</p></div>
        <div class="operator-loop" data-ng-repeat="ou in category.OrganisationalUnits | filter:filter.name | orderBy:sortBy">
            {{ setCompareSettingsForOu(ou)}}

            <div class="row">
                <div class="small-5 columns end">
                    <h5><a href="#" data-ng-click="showOperator(ou.OrganisationalUnitId)">{{ ou.Name }}</a></h5>
                </div>
            </div>
            <div class="row">
                <div class="small-2 columns">
                    <div data-ng-if="ou.ImagePath != 'default.jpg' && ou.ImagePath != 'dagis.jpg' && ou.ImagePath != 'elderly.jpg' && ou.ImagePath != 'grund.jpg' && ou.ImagePath != 'sjukhus.jpg' && ou.ImagePath != 'vardcentral.jpg'">
                        <img alt="Bild på aktör" data-ng-src="{{ ou.ImagePath }}" />
                    </div>
                    <div data-ng-if="ou.ImagePath == 'default.jpg' || ou.ImagePath == 'dagis.jpg' || ou.ImagePath == 'elderly.jpg' || ou.ImagePath == 'grund.jpg' || ou.ImagePath == 'sjukhus.jpg' || ou.ImagePath == 'vardcentral.jpg'">
                        <img alt="Bild på aktör" data-ng-src="/Content/pictures/{{ ou.ImagePath }}" />
                    </div>
                </div>
                <div class="small-7 columns">
                    <div>{{ ou.ShortDescription }}</div>
                    <div><strong>Adress:</strong> {{ ou.Address }}</div>
                    <div data-ng-if="getDistanceBetweenPositions(ou) >= 0.0"><strong>Distans:</strong> {{ getDistanceBetweenPositions(ou) }} km</div>
                    </div>
                <div class="small-3 columns">
                    <div class="row">
                        <div class="{{ ou.class }} fixed-font-size"><a href="" data-ng-click="toggleOperators(ou)"><i class="{{ ou.icon }}"></i>{{ ou.text}}</a></div>
                    </div>
                    <div class="row">
                        <div class="mapClass fixed-font-size"><a href="" data-ng-click="showOperatorMap(ou.OrganisationalUnitId)">Karta</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Show map -->
    <div data-ng-show="map" role="wiget">
        <div data-ng-show="!category.OrganisationalUnits.length"><p>Det finns tyvärr inga aktörer tillgängliga i den här kategorin.</p></div>
        <div data-ng-show="category.OrganisationalUnits.length">
            <div id="map_canvas">
                <ui-gmap-google-map center="mapBox.center" zoom="mapBox.zoom" fit="true" draggable="true">
                    <ui-gmap-marker data-ng-repeat="m in category.OrganisationalUnits | filter:filter.name"
                                    coords="{ latitude: m.Latitude, longitude: m.Longitude }"
                                    idkey="m.OrganisationalUnitId">
                        <ui-gmap-window templateUrl="'/App/Category/Views/Partials/_MapOnClick.html'" templateParameter="m">
                        </ui-gmap-window>
                    </ui-gmap-marker>
                </ui-gmap-google-map>
            </div>
        </div>
    </div>
</section>

<script src='//maps.googleapis.com/maps/api/js'></script>